<footer>
    <div class="f-info">

        <div class="f-info-socials">
            <a href="https://www.instagram.com/___vaibhav_tiwari___" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.facebook.com/Vaibhav Tiwari" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/vaibhav-tiwari-b150ab374" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-linkedin"></i>


            </a>

        </div>
        <div class="f-info-brand">&copy WanderLust Private Limited</div>

        <div class="f-info-links">

            <a href="/privicy">Privicy</a>
            <a href="/terms">Terms</a>
            <br>
            <a href="/vkt">@Vaibhav Tiwari</a>
        </div>
    </div>
</footer>