body {
    .plus-jakarta-sans {
        font-family: "Plus Jakarta Sans", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .container {
        flex: 1;
    }

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    height: 5rem;
    background-color: whitesmoke;
}

.fa-compass {
    color: #fe425d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.5rem;
    background-color: #F5F5F5;
    color: #333333;
    border-radius: 0.2rem;
}

.f-info {
    text-align: center;
    height: 7rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem !important
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 42vh !important;
}

.card-body {
    padding: 0 !important;

}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white
}

/* add page */
.add-btn {
    color: #fe425d !important;
    border: none !important;
}

/* edit page */
.edit-btn {
    color: #fe425d !important;
    border: none !important;
}


.show-img {
    height: 35vh;

}

.show-card {
    padding: 0;
}

.social-icons a {
    color: inherit;

    text-decoration: none;
    margin: 0 10px;
}

.social-icons a:hover {
    opacity: 0.8;
}

.btns {

    /* display: flex; */
    flex-direction: column;
    /* Buttons vertically aa jayenge */
    align-items: flex-start;
    /* justify-content: center; */

    gap: -100px;
    /* Adds space between buttons */
    margin-top: 20px;
    /* Optional: adds spacing from top */
    margin-left: 280px;
}

#map{
    height: 400px;
    width:80vh;
}